#cloud-config  
rh_subscription:
  username: ${rh_user}
  password: ${rh_password}
%{ if length(rh_serverurl) > 0 }
  server-hostname: ${rh_serverurl}
%{ endif }
%{ if length(rh_rhsm_baseurl) > 0 }
  rhsm-baseurl: ${rh_rhsm_baseurl}
%{ endif }
  auto-attach: True
%{ if rhel_major == "7" }
  enable-repo: [rhel-7-server-extras-rpms]
%{ endif }
packages:
  - podman
# Do not upgrade as want to ensure fixed versions
# package_upgrade: true
write_files:
  # cloud-init - NM dns management
  # https://access.redhat.com/solutions/4757761
  - content: |
      [main]
      dns = default
    path: /etc/NetworkManager/conf.d/9A-override-99-cloud-init.conf
%{ if length(repo_baseos_url) > 0 || length(repo_appstream_url) > 0 }
  - content: |
%{ if length(repo_baseos_url) > 0 }
      [baseos]
      name=baseos
      baseurl=${repo_baseos_url}
      gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
      sslcacert=/etc/rhsm/ca/redhat-uep.pem
      enabled=1
      gpgcheck=1
%{ endif }
%{ if length(repo_appstream_url) > 0 }
      [appstream]
      name=appstream
      baseurl=${repo_appstream_url}
      gpgkey=file:///etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release
      sslcacert=/etc/rhsm/ca/redhat-uep.pem
      enabled=1
      gpgcheck=1
    path: /etc/yum.repos.d/linterop.repo
%{ endif }
%{ endif }
%{ if rhel_major == "7" }
runcmd:
  - echo "user.max_user_namespaces=28633" | tee -a /etc/sysctl.d/userns.conf
  - sysctl -p /etc/sysctl.d/userns.conf
%{ endif }