#cloud-config  
rh_subscription:
  username: ${rh_user}
  password: ${rh_password}
%{ if length(rh_serverurl) > 0 }
  server-hostname: ${rh_serverurl}
%{ endif }
%{ if length(rh_rhsm_baseurl) > 0 }
  rhsm-baseurl: ${rh_rhsm_baseurl}
%{ endif }
  auto-attach: true
packages:
  - podman
  - jq
  - qemu-kvm 
  - libvirt 
  - virt-install 
  - virt-viewer
  - git
# Do not upgrade as want to ensure fixed versions
# package_upgrade: true
write_files:
  # cloud-init - NM dns management
  # https://access.redhat.com/solutions/4757761
  - content: |
      [main]
      dns = default
    path: /etc/NetworkManager/conf.d/9A-override-99-cloud-init.conf
runcmd:
  - systemctl daemon-reload 
  - systemctl enable libvirtd-tcp.socket 
  - systemctl start --no-block libvirtd-tcp.socket 
  # Debug libvirt
  #- echo 'log_filters="1:libvirt 1:util 1:qemu"' | tee -a /etc/libvirt/libvirtd.conf
  #- echo 'log_outputs="1:file:/var/log/libvirt/libvirtd.log"' | tee -a /etc/libvirt/libvirtd.conf
  # https://libvirt.org/manpages/libvirtd.html#system-socket-activation
  - systemctl mask libvirtd.socket libvirtd-ro.socket libvirtd-admin.socket libvirtd-tls.socket libvirtd-tcp.socket
  - echo 'LIBVIRTD_ARGS="--listen"' | tee -a /etc/sysconfig/libvirtd
  - echo 'listen_tls = 0' | tee -a /etc/libvirt/libvirtd.conf
  - echo 'listen_tcp = 1' | tee -a /etc/libvirt/libvirtd.conf
  - echo 'tcp_port = "16509"' | tee -a /etc/libvirt/libvirtd.conf
  - echo 'auth_tcp = "none"' | tee -a /etc/libvirt/libvirtd.conf
  - systemctl enable libvirtd 
  - systemctl start --no-block libvirtd  
  - usermod -a -G libvirt ${username}
  - echo "user.max_user_namespaces=28633" | tee -a /etc/sysctl.d/userns.conf
  - sysctl -p /etc/sysctl.d/userns.conf
  - dnf upgrade -y curl openssl
  - curl -v -L -sS https://dl.min.io/client/mc/release/linux-amd64/mc -o /usr/local/bin/mc
  - chmod +x /usr/local/bin/mc 
  - chown ${username} /usr/local/bin/mc
  - dnf group install -y "Development Tools"
%{ if length(internal_ntp_server) > 0 }
  - echo "server ${internal_ntp_server}" | tee -a /etc/chrony.conf
  - timedatectl set-ntp true
  - systemctl enable --now chronyd
  - systemctl restart --now chronyd
%{ endif }
